@import "tailwindcss";

/* === Fonts === */

@font-face {
  font-family: "MPLUS1p-Regular";
  src: url("/fonts/MPLUS1p-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-Medium";
  src: url("/fonts/MPLUS1p-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


/* === Utilities === */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


/* === Tailwind custom styles === */

@theme {
    --font-form-input-regular: "MPLUS1p-Regular", "serif";
    --font-form-input-medium: "MPLUS1p-Medium", "serif";
}
